*{margin: 0; padding: 0; font-family: 'Frank Ruhl Libre', serif;}

/* 여백 초기화 */
body, div, ul, li, dl, dd, dt, ol, h1, h2, h3, h4, h5, h6, input, fieldset, legend, p, select, table, th, td, tr, textarea, button, form, figure, figcaption {margin:0; padding:0;}

/* a 링크 초기화 */
a {color: #222; text-decoration: none;}

/* 폰트 초기화 */
body, input, textarea, select, button, table {font-family: 'Frank Ruhl Libre', serif; color: #222; font-size: 15px;}

body{background-color: rgb(44, 44, 44);}
/* 다크모드 */
body.dark{background-color: #6b9bc0;}

ul,li{list-style: none;}

#wrap{width: 1200px; margin: 0 auto;}


#header{display: flex;
    justify-content: space-between;
    align-items: center; 
    width: 98%; 
    height: auto; 
    background-color: #F2F2F2; 
    padding: 10px 1%;
}

#header .logo{
    font-size: 30px; 
    font-weight: bold;
}
#header .logo a{font-family: 'Frank Ruhl Libre', serif;}
#header .menu-bar{display: flex; list-style: none; padding-left: 0; padding-right: 0px;}
#header .menu-bar li{ padding: 8px 15px; display: inline-block; font-size: 20px; font-weight: 400; transition: .5s;}
#header .menu-bar-btm{display: none; position: absolute; right: 17px; font-size: 20px; color: #666;}

#header .menu-bar a:hover{color: #6b9bc0}

.nav{width: 100%; height: 40px; background-color: #F2F2F2; overflow: hidden;}
.search-box{

    margin-right: 13px;
    padding: 5px;
    position: relative;
    float: right;
    height: 25px;
    border: none;
    transition: 0.4s;
    width:30px;
}
.search-box:hover{width: 160px;}

.search-btn{
    text-decoration: none;
    float: right;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(44, 44, 44);
}
.search-txt{
    display: flex;
    padding: 0;
    width: 0px;
    border:none;
    background: none;
    outline: none;
    float: left;
    font-size:15px;
    line-height: 30px;
    transition: .4s;
}
.search-box:hover > .search-txt{
    width: 130px;
    padding: 0 3px;
}
 /* outline 테두리 속성 수정 */
input:focus {outline: 2px solid;}
/* outline 테두리 없애기 */
input:focus {outline: none;} 

/* 언어 변경 */
.language_switcher{float: left; margin: 5px 5px 5px 17px; padding: 4px; background-color: #6b9bc0; border-radius: 50%;}

/* 어두운 테마 */
.light-dark-theme{
    float: left;
    margin: 5px;
    padding: 4px;
}

.label{
    background-color: rgb(44, 44, 44);
    display: flex;
    height: 20px;
    width: 42px;
    border-radius: 50px;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    box-sizing: border-box;
    position: relative;
}
.ball{
    width: 16px;
    height: 16px;
    background-color: #f5f5f5;
    position: absolute;
    top: 2px;
    left: 2px;
    border-radius: 50%;
    transition: 0.3s linear;
}

.checkbox{opacity: 0; position: absolute;}
.checkbox:checked + label .ball{transform: translateX(23px);}



/* 화면 너비 조절 */

/* 화면 너비 0 ~ 1200px */
@media (max-width: 1240px){
    #wrap {width: 100%;}

}

/* 화면 너비 0 ~ 768px */
@media (max-width: 768px){
        /* 작은 메뉴바 */
        #header{flex-direction: column;}
        #header .menu-bar{display: none; flex-direction: column; align-items: center; width: 100%; padding-right: 0px;}
        #header .search-box{position: relative; display: none; margin: 4% 0px 20px 38%;}
        #header .menu-bar-btm{display: block;}
        #header .menu-bar.active, #header .search-box.active{display: flex;}
}

/* 화면 너비 0 ~ 480px */
@media (max-width: 480px){
    #back_to_top{right: 3%;}
}

body.dark{background-color: #2e313d;}
body.dark a{color: #f5f7ff;}
body.dark hr{background-color: #f5f7ff;}
body.dark h1{color: #f5f7ff;}
body.dark h4{color: #f5f7ff;}
body.dark p{color: #f5f7ff;}
body.dark div{color: #f5f7ff;}
body.dark #header{background-color: #424755;}
body.dark #header .menu-bar-btm{color: #f5f7f5;}
body.dark .nav{background-color: #424755;}
body.dark .language_switcher{background-color: #f8be51;}